.bank-all{
    overflow: scroll;
    overflow-y: hidden;
    position: relative;
    padding: 15px;
    flex-wrap: nowrap;
    width: 80%;
    margin: auto;
    border: 2px solid #3b7e39;
    border-radius: 20px 20px 10px 10px;
}
.payment{
    overflow: hidden;
    padding: 15px;
    width: 80%;
    margin: auto;
    border: 2px solid #3b7e39;
    border-radius: 20px 20px 10px 10px;
}
.button-bank{
    border: 2px solid #3b7e39;
    background: #fff;
    color: #3b7e39;
    border-radius: 30px;
    width: 20%;
    height: 50px;
    margin: auto;
}
.bank-all::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px #036d00;
    background-color: #F5F5F5;
    border-radius: 10px;
}

.bank-all::-webkit-scrollbar
{
    height: 15px;
    background-color: #F5F5F5;
    border-radius: 10px;
}

.bank-all::-webkit-scrollbar-thumb
{
    background-color: #036d00;
    border-radius: 10px;
}
.image-bank,.image-payment{
    width: 100px;
    filter: grayscale(1);
    transform: scale(0.8);
    transition: 0.2s ease-in-out;
}
.contact{
    margin-top: 2%;
}
input[type=radio], input[type=checkbox] {
    display: none;
    transition: 0.2s ease-in-out;
}
input[type="radio"]:checked + label img.image-bank,
input[type="radio"]:checked + label img.image-payment {
    filter: grayscale(0) !important;
    transform: scale(1.0);
}
img.image-payment:hover,img.image-bank:hover {
    filter: grayscale(0);
    transform: scale(1.0);
}
i#slide-right {
  position: absolute;
  top: 83.5%;
  width: 10%;
  font-size: 30px;
  margin-left: 77%;
  animation: anim-right 1s ease infinite alternate;
}
i#slide-left {
  position: absolute;
  top: 83.5%;
  width: 10%;
  font-size: 30px;
  margin-left: 11%;
  display: none;
  animation: anim-left 1s ease infinite alternate;
}
button.btn-confirm {
  width: 50%;
  margin-left:25%;
  border: solid 1px #468E41;
  color: white;
  height: 45px;
  background: radial-gradient( #65BD56, #468E41);
  font-size: 20px;
  border-radius: 20px;
  font-size: 20px;
}
@keyframes anim-right{
  0%{
    transform: translateX(0px);
  }100%{
    transform: translateX(5px);
  }
}

@keyframes anim-left{
  0%{
    transform: translateX(0px);
  }100%{
    transform: translateX(-5px);
  }
}

@media only screen and (max-width: 600px) {
    .button-bank{
        border-radius: 30px;
        width: 60%;
    }
    .image-bank,.image-payment{
        width: 50px;
    }
    .bank-all::-webkit-scrollbar
    {
        height: 10px;
    }

}

/* Ipad */
@media only screen and (max-width: 768px) and (min-width: 600px){

  i#slide-right {
    font-size: 32px;
    margin-left: 83%;
    top: 91%;
  }
  i#slide-left {
    font-size: 32px;
    top: 91%;
  }
  .col-12.col-lg-4.text-center {
    flex: 0 0 33.333%;
}

}

/* Ipad Pro */
@media only screen and (max-width: 1024px) and (min-width: 768px){
  i#slide-left {
    font-size: 40px;
    top: 90%;
  }
  i#slide-right {
    font-size: 40px;
    top: 90%;
    margin-left: 84%;
  }
}

/* Laptop */
@media only screen and (min-width: 1024px){
  i#slide-right {
    font-size: 40px;
    top: 91%;
    margin-left: 85%;
  }
  i#slide-left {
    font-size: 40px;
    top: 91%;
  }
}

/* Midle Laptop
@media only screen and (max-width: 1440px) and (min-width: 1280px){
  i#slide-right {
    font-size: 40px;
    top: 91%;
    margin-left: 85%;
  }
  i#slide-left {
    font-size: 40px;
    top: 91%;
  }
} */